<div class="tab-pane container fade" id="formularios_encerrados">
    <div class="row">
        <div class="col col-lg-12 p-1">
            <h3 class="text-center">Formulários encerrados</h3>
            <p class="text-center">Local onde você encontra os formulários já concluidos.</p>
        </div>
        <% let formNumber = 0; %>
            <% if(typeof questions !== 'undefined'){ fineshedQuestions.forEach(question => {%>
                <div class="col col-lg-4 order-1 p-1">
                    <div class="card" id="pergunta-1">
                        <div class="card-header text-center" data-toggle="collapse"
                            data-target="#<%=formNumber%>">
                            <h4><%= question.title %></h4>
                            <button class="btn btn-success btn-sm active">Votação em andamento!</button>
                        </div>
                        <div class="collapse show" id="<%=formNumber%>">
                            <div class="card-body text-center">
                                <span class="text-muted"><%= question.description %></span><br>
                                <span class="text-muted" id="">Enviada por: <b><%= question.author.username %></b></span>
                                <hr>
                                <form action='/multipleChoiceAnswer/<%= question._id %>' method="POST"> 
                                    <!-- FAZER UM MODAL PARA CADA QUESTÃO -->
                                    <% if(question.type = "multipleChoice"){ %> 
                                        <table class="table table-bordered table-hover text-center">
                                            <a class="btn btn-success btn-sm" href='/chartMultipleChoice/<%=question._id%>'>Resultado Parcial Barra</a>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <a class="btn btn-success btn-sm" href='/chartMultipleChoicePie/<%=question._id%>'>Resultado Parcial Pizza</a>
                                        </table>
                                    <% } %>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <%formNumber++; %>
            <% }) %>
        <%}%>
    </div>
</div>